.App {
  text-align: center;
}
body {
  box-sizing: border-box;
  background: #e8e8e8;
  font-size: 16px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBar {

  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background: #ffffff;
  /* background: #c5c7f7; */
  /* background: #060837; */
}

.header {
  width: 60%;
  display: flex;
}

.header .logo {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.header .logo .img {
  color: white;
}

.header .logo-title {
  display: inline-flex;
  align-items:baseline;
}

.header .logo-title .word1 {
  color: Red;
  padding-left: 0.75rem;
  font-size: 1.65rem;
  font-weight: 400;
}
.header .logo-title .word2 {
  color: rgb(38, 37, 37);
  padding-left: 0.3rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: normal;
}

.header .search-bar {
  width: 55%;
  display: flex;
  align-items: center;

}

.header .search-bar input {
  width: 100%;
  font-size: .85rem;
  padding: .5rem .25rem;
}

/* navbar */

.nav-bar {
  width: 45%;
  display: flex;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  margin: 0;
  padding: 0;
  /* justify-content: space-around; */
  align-items:center;
  list-style: none;
}

a {
  /* margin: 0rem 1rem; */
  /* padding: 0rem 0.25rem; */
  width:100%;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.85rem;
  color: red;
}
a img {
  margin-right: 0.5rem;
}

a:hover {
  font-size: 1rem;
  border: none;
}

.btn-menu:hover {
  opacity: .5;
}

/* reddits */

.reddit {
  background: #f3f1f1;
  padding: .75rem;
  margin: 0 15%;
  height: 800px;
  display: flex;
}

.reddit-cards {
  width: 70%;
  margin-right: .5rem;
  font-size: .5rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.container {
  background: rgb(242, 242, 242);
  padding: 1rem 1rem 1rem .1rem;
  justify-content:space-around;
}

.reddit-card {
  width:100%;
  display: flex;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 1%;
  box-shadow: 2px 2px #f3f3f3;
  margin: 0 .5rem;
}

.reddit-cards .left {
  width:10%;
  background-color: #d5d5d5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: .5rem;
}

.reddit-cards .btn {
  background:none;
  border:none;
}

.reddit-cards .left img {
  width: 35px;
  height:20px;
}

.reddit-cards .left p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 7px;
}

.reddit-cards .right {
  width: 90%;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  word-break:break-all;
  overflow: hidden;
}

.reddit-cards .right .header {
  width: 100%;
  margin-right: 10px;
  align-items: center;
}

.reddit-cards .right .header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.reddit-cards .right .header p {
  margin-right: 10px;
  font-size: .75rem;
  font-weight: 200;
}

.reddit-cards .right .body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: justify;

}

.reddit-cards .right .body h1 {
  word-break: normal;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px 0px;
  margin-bottom: 1rem;
  color:#4d4d4e;
  text-align: left;
}

.reddit-cards .right .body h3 {
  font-size: 1rem;
  margin: 0px 0px;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: left;
}

.reddit-cards .right .body a {
  justify-content: left;
  font-size: .85rem;
  color: blue;
}

.reddit-cards .right .footer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.reddit-cards .right .footer img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.reddit-cards .right .footer p{
  margin-right: 10px;
  font-size: .75rem;
}

/* subreddits */

.subreddit-card {
  width: 100%;
  height: 2.7rem;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2%;
  box-shadow: 2px 2px #f3f3f3;
}
  

.subreddit-card .img { 
  width: 15%;
}

.subreddit-card img { 
  width: 25px;
  margin-left: 0.5rem;
}

.subreddit-card .subreddit {
  width: 70%;
  font-size: 1rem;
}

.btn-subreddit p {
  width: 15%;
}

.btn-subreddit a{
  background: #060837;
  color: #ffffff;
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 1px 1px gray;
  font-size: 0.6rem;
  width: 2rem;
  height: 1.5rem;}

/* features */

.features {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: space-around;
  margin-top: 1rem;
}

.features-img {
  width: 15%;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.features-main{
  width: 75%;
  margin: 0 1rem;
}

.features-side {
  width: 30%;
  margin-right: 1rem;
} 

.fetch {
  justify-content: left;
  margin-left: 2rem;
}
