.App {
  text-align: center;
}
body {
  font-size: 16px;
  box-sizing: border-box;
  background: #e8e8e8;
}

.body::-webkit-scrollbar {
  display: none;
}

/* -------------------------------------
Home
------------------------------------- */

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------------------------------------
Nav Bar
------------------------------------- */

.NavBar {
  width: 100%;
  height: 4rem;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  margin: 0 1rem;
  padding: 1rem;
  background: #ffffff;
  overflow: hidden;

}

/* Logo */
.logo {
  width: 20%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-right: 1rem;
  margin-left: 5rem;
}

.logo .img {
  color: white;
}

.logo-title {
  display: inline-flex;
  align-items:baseline;
}

.logo-title .word1 {
  color: Red;
  padding-left: 0.75rem;
  font-size: 1.65rem;
  font-weight: 400;
}
.logo-title .word2 {
  color: rgb(38, 37, 37);
  padding-left: 0.3rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: normal;
}

/* Search Bar */

.search-bar {
  width: 35%;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-right: 1rem;
}

.search-bar input {
  width: 100%;
  font-size: .85rem;
  padding: .5rem .25rem;
}

.search-bar .btn-search {
  background: none;
  border: none;
}

.search-bar .btn-search:hover {
  opacity: 0.5;
}

.search-bar .btn-search img {
  width: 20px;
  background: none;
  border: none;
}

/* navbar */

.nav-bar {
  width: 40%;
  display: flex;
  margin-right: 2rem;
  
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 1rem;
  padding: 0;
}

.nav-bar li {
  margin: 0;
  padding: 0;
  align-items:center;
  list-style: none;
}

a {
  width:100%;
  height:3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.85rem;
  color: red;
}

a img {
  margin-right: 0.5rem;
}

a:hover {
  overflow: hidden;
  border: none;
}

.btn-menu {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.btn-menu:hover {
  opacity: .5;
  overflow: hidden;
}

/* -------------------------------------
reddits
------------------------------------- */

/* reddit cards */
.container {
  background: rgb(242, 242, 242);
  padding: 1rem 1rem 1rem 1rem;
}

.reddit {
  width: 90%;
  background: #f3f1f1;;
  padding: .75rem;
  margin: 0 15%;
}

.reddit-cards {
  width: 60%;
  background:rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  margin-top: .5rem;
}

.reddit-card {
  width:100%;
  display: flex;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 1%;
  box-shadow: 2px 2px #f3f3f3;
  margin: .15rem .15rem;
}

.reddit-cards .left {
  width: 10%;
  padding: 1rem 0.5rem;
  display:block;
  background-color: #d5d5d5;
  flex-direction: column;
  justify-content: start;
}

.reddit-cards .btn-vote {
  background:none;
  border:none;
  width: 1rem;

}

.reddit-cards .left img {
  width: 25px;
  height: 10px;
  margin: 0 auto;;
}

.reddit-cards .left p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 7px;
}

.reddit-cards .right {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  word-break:break-all;
  overflow: hidden;
}

.reddit-cards .right .header {
  width: 100%;
  margin-right: 10px;
  align-items: center;
}

.reddit-cards .right .header img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.reddit-cards .right .header p {
  margin-right: 10px;
  font-size: .75rem;
  font-weight: 200;
}

.reddit-cards .right .body {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: justify;
}

.reddit-cards .right .body h1 {
  word-break: normal;
  font-size: 1rem;
  font-weight: 500;
  margin: 0px 0px;
  margin-bottom: 1rem;
  color:#4d4d4e;
  text-align: left;
}

.reddit-cards .right .body h3 {
  font-size: 1rem;
  margin: 0px 0px;
  margin-bottom: 20px;
  font-weight: 200;
  text-align: left;
}

.reddit-cards .right .body a {
  justify-content: left;
  font-size: .85rem;
  color: blue;
}

.reddit-cards .right .footer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.reddit-cards .right .footer img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.reddit-cards .right .footer p{
  margin-right: 10px;
  font-size: .75rem;
}

/* subreddits */

.subreddit-card {
  width: 98%;
  height: 2.7rem;
  background-color: white;
  display: flex;
  flex: 1 1 1;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 2%;
  box-shadow: 2px 2px #f3f3f3;
  margin: .15rem .15rem;
}
  

.subreddit-card .img { 
  width: 15%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.subreddit-card img { 
  width: 20px;
}

.subreddit-card .subreddit {
  width: 70%;
  font-size: 0.75rem;
}

.btn-subreddit p {
  width: 10%;
  word-break: break-word;
  font-size: 1rem;
}

.btn-subreddit a{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.6rem;
  background: #060837;
  color: #ffffff;
  border: 1px solid #060837;
  border-radius: 10%;
  box-shadow: 1px 1px gray;
  margin-right: .25rem;
}

/* features */

.features {
  width:90%;
  display: flex;
  flex-direction: row;
  flex: 1 1 1;
  align-items:flex-start;
  justify-content: space-around;
  margin-top: 1rem;
}

.features-img {
  width: 10%;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.features-main{
  width: 80%;
  margin: 0rem 1rem;
}

.features-side {
  width: 30%;
  margin-right: 5rem;
} 

.fetch {
  justify-content: center;
  margin-left: 2rem;
}


 @media screen and (max-width: 850px){

  body {
    font-size: 14px;
    margin: 0px 0px;
    padding: 5px;
  }

  .home {
    width: 100%;
    display: block;
  }

  .NavBar {
    height: 2rem;
    display: inline-table;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .logo {
  width: 100%;
  }

  .search-bar {
    width: 90%;
    align-items: center;
    margin: auto;
  }

  .nav-bar {
    width: 90%;
    margin: 0 auto;
  }

  .reddit-cards .container {
    width: 100%;
    display:none;
  }
  
  .reddit-cards {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .reddit-card {
    width: 98%;
  }

  .features {
    display: block;
  }

.features-img {
  display: none;
}
  .features-main {
    width: 100%;
  }

  .features-side {
    margin-top: 1rem;
    width: 100%;
  }
}

 @media screen and (max-width: 540px){

  body {
    font-size: 14px;
    margin: 0px 0px;
    padding: 5px;
  }

  .home {
    width: 100%;
  }
  .NavBar {
    height: 1rem;
    display: inline-table;
  }
  .logo {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  }
  .logo .logo-title {
    font-size: 1rem;
  }
  .logo .logo-title .word1 {
    font-size: 1.2rem;
  }

  .logo .logo-title .word2 {
    font-size: 1.05rem;
  }

  .NavBar .logo img {
    width:25px;
  }

  .search-bar {
    width: 90%;
  }

  .search-bar input {
  width: 100%;
  height: 1.5rem;
  font-size: .75rem;
}

  .search-bar .btn-search img {
    width: 10px;
}

  .nav-bar {
    width: 100%;
    margin: 0 auto;
  }

  .btn-menu img {
    width: 15px;
  }
  .btn-menu p {
    font-size: 0.75rem;
  }

  .reddit-cards .container {
    display: inline;
    width: 100%;
  }
  .reddit-cards {
    display: inline;
    width: 100%;
  }

  .container {
    display: block;
  }

  .features-img {
  display: none;
  }

  .features-main {
    width: 100%;
  }

  .features-side {
    width: 100%;
  }
}